  <!-- General info -->
  <% let format = ".png" || ".gif" || ".jpg" || ".jpeg"; %>
        <link rel="icon" href="https://cdn.discordapp.com/attachments/588982177006354466/590020344761548820/10.png" type="image/gif" sizes="16x16" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      		<meta name="google-site-verification" content="-IYV3wXnRdg8254Wp7DuygImuMgRQIGl_hs-PiN4M_E">
      
      <meta name="description" content="Best Arabic Hosting Speical Host">
      
      <meta property="og:url" content="http://specialbots.glitch.me/">
      
      
      <meta property="og:type" content="website">
      <meta name="keywords" content="Speical سبيشل ">

<meta property="og:image" content="https://cdn.discordapp.com/attachments/571774209290666048/589006646144008192/Special_Host.png">
        <title>Speical Host - Discord </title>
      
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Animate.css -->
        <script src="/main.js" defer></script>
        <link rel="stylesheet" href="/style.css">
      

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
        
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>   
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      

        <!-- javascript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


        <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script src="https://codepen.io/shshaw/pen/QmZYMG.js"></script>
      
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
  new Crate({
    server: '584437064108343351',
    channel: '589251668202356737',
    shard: 'https://disweb.deploys.io'
  })
</script> 


<div id="navbar">
  <a  id="logo"><img style="height: 50px; width: 50px;" src="https://cdn.discordapp.com/attachments/587160970892279841/589094072396939295/exos-iconebanner.png"> Special Host</a>
  
  <div id="navbar-right">
   
    <a style="font-family: Nunito;" href="/home"> Home <i class="fa fa-home"></i></a>
     
     
      <a style="font-family: Nunito;" href="https://discord.gg/RmWyb4q"> Connect with us <i class="fa fa-phone"></i></a>
    <a style="font-family: Nunito;" href="/clients"> Our clients <i class="fa fa-users"></i></a>
    <a style="font-family: Nunito;" href="/about"> About <i class="fa fa-user"></i></a>
     <a class="active" > Discord <i class="fab fa-discord"></i></a>
    <a><img  uk-toggle="target: #offcanvas-flip" style="border-radius: 50%; " height="35" width="35" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %><% format %>?size=2048"/></a>
  </div><br>
   <center style="font-family: Nunito; color:white;">All Rights Reserved ©
Special Host 2019 
  </center>
</div>
    
<div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
    <div style="background-color: #181717;" class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <center><img style="border-radius: 50%; " height="135" width="135" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %><% format %>?size=2048">
<h3 style="color:white">
  <%= user.username %>#<%= user.discriminator %>
      </h3><br>

    </center>    

    </div>
</div>
      
  <!-- Home page -->
<br><br><br><br><br><br>


<center>
  <div id="allHome">
      <div id="homeBody">         
        <img style="height: 200px" class="animated fadeInDown" id="homeName"src="<%= client.user.avatarURL %>">
        <p id="homeDescription">Best Hosting</p>
        <div style="height: 30px;"></div>
        <center><hr style="width: 25%; margin-top: -30px; background-color: white;"></center>
        <div style="height: 110px;"></div>
        
    </div>
  </div>
</center>
    
    
            </div>
    
    
    
    </head>
  <body>
    
    
    
   <script>
  function order() {
    console.log("K");
    var email = document.getElementById("email");
    
  
    
    var orders = document.getElementById("orders");
    
    if(!orders) return;
    
  
    
    if(!email) return;
    

    
    orders = orders.value;
    
    email = email.value;
    
    
    

    
    
    
    

    
    
    
   
    $.ajax({url: `/sendMessage?email=${email}&orders=${orders}`, success: function() {
      swal(" Your order has been sent", "CAUTION If you are not on the hosting server, we will not talk to you ", "success");
      swal(" Your order has been sent", "CAUTION If you are not on the hosting server, we will not talk to you ", "success");
}});swal(" Your order has been sent", "CAUTION If you are not on the hosting server, we will not talk to you ", "success");
  }
  
  

  
</script>
    
      

    
<div id="cards-a">
   <center style="">
   <div class="cards-body">
   <i id="img" class="fab fa-discord"></i><br>
   <br>
   <span class="badge badge-success"> Available </span> 
   <p id="p-title">
   Bot system
   </p>
   <kbd>80 k-Credits</kbd>
     
<span class="bbadge badge-pill"></span> <a id="inviteBtn"><button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-outline-light btn-lg" style="margin-top: 10px; width: 150px; font-size: 15px;"> Order now 
</div>
  
<div class="cards-body">
    <i id="img" class="fab fa-discord"></i><br>
   <br>
   <span class="badge badge-success"> Available </span> 
   <p id="p-title">
    Bot ticket
   </p>
   <kbd>30 k-Credits</kbd>
  
<span class="bbadge badge-pill"></span> <a id="inviteBtn"><button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-outline-light btn-lg" style="margin-top: 10px; width: 150px; font-size: 15px;"> Order now 
</div>
  
    
    <div class="cards-body">
    <i id="img" class="fab fa-discord"></i><br>
   <br>
   <span class="badge badge-success"> Available </span> 
   <p id="p-title">
Bot Music
   </p>
   <kbd>40 k-Credits</kbd>
      
<span class="bbadge badge-pill"></span> <a id="inviteBtn"><button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-outline-light btn-lg" style="margin-top: 10px; width: 150px; font-size: 15px;"> Order now 
</button></a>
</div>


  </center>
    </div>
    
<script>
////// Right click
$(function() {
	$(this).bind("contextmenu", function(e) {
		e.preventDefault();
	});
});
////// F12
$(document).keydown(function (event) {
    if (event.keyCode == 123) { // Prevent F12
        return false;
    } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I        
        return false;
    }
});
////// Ctrl + u
jQuery(document).ready(function($){
  $(document).keydown(function(event) { 
    var pressedKey = String.fromCharCode(event.keyCode).toLowerCase();
  if (event.ctrlKey && (pressedKey == "c" || pressedKey == "u")) {
  return false; 
  }
 });
});
////// Tooltip
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
    

 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Order a Ticket</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Your ID :</label>
            <input style="background-color: #181717; " type="text" value="<%= user.id %>" class="form-control" id="email" disabled>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Your order :</label>
            <textarea class="form-control" id="orders"></textarea>
                      </div>


                      <p>Before you submit the application you are agreeing to the Terms of Service</p> 
          </span> <a href='/terms'  id="inviteBtn"><button type="button" class="btn btn-outline-light btn-lg" style="margin-top: 10px; width: 170px; font-size: 15px; border: solid 2px #00000"> Terms </button></a>
        </form>

   
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close the order
</button>
        <button onclick="order();" type="button" class="btn btn-dark">Send the order
</button>
      </div>
    </div>
  </div>
</div>

</div>
  </body>
</html>